@import "tailwindcss";

:root {
  --lk-va-bar-gap: 4px;
  --lk-va-bar-width: 4px;
  --lk-va-border-radius: 2px;
}

::-webkit-scrollbar-track {
  background: rgba(255, 255, 255, 0.05);
  border-radius: 5px;
}

::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.1);
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: #555; /* Even lighter grey thumb on hover */
}

::-webkit-scrollbar {
  width: 10px;
  border-radius: 5px;
}

@theme inline {
  
}

@layer utility {
  .flex-center {
    @apply flex items-center justify-center;
  }
  .flex-between {
    @apply flex items-center justify-between;
  }
}

.on-hover-underline {
  position: relative;
  transition: all 0.3s ease;
  display: flex;
  align-items: center;
  justify-content: center;
}

.on-hover-underline::after {
  content: "";
  position: absolute;
  bottom: -3px;
  height: 3px;
  border-radius: 3px;
  width: 0;
  background: linear-gradient(to right, rgb(0, 255, 200), rgb(63, 255, 127));
  transition: all 0.3s ease;
}

.on-hover-underline:hover:after {
  box-shadow: 0 0 100px #fff;
  width: 80%;
  
}

.gradient-underline {
  position: relative;
  transition: all 0.3s ease;
  display: flex;
  align-items: start;
  justify-content: start;
}

.gradient-underline::after {
  content: "";
  position: absolute;
  bottom: -3px;
  height: 4px;
  border-radius: 3px;
  width: 80%;
  background: linear-gradient(to right, rgb(0, 255, 200), rgb(63, 255, 127));
  transition: all 0.3s ease;
}

.filter-blue-invert {
 filter: hue-rotate(180deg) brightness(10) contrast(10) saturate(10);
}

.slow-spin {
  animation: slow-spin 10s linear infinite;
}

@keyframes slow-spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.rotate-y-animation-1 {
  animation: rotateY 15s linear reverse infinite;
}

.rotate-y-animation-2 {
  animation: rotateY 60s linear infinite;
}

@keyframes rotateY {
  0% {
    transform: rotateX(0deg);
  }
  50% {
    transform: rotateX(180deg);
  }
  100% {
    transform: rotateX(360deg);
  }
}

.repeating-square-background {
  background-size: 18px 18px;
  background-repeat: repeat;
  background-image: url("data:image/svg+xml,%3Csvg width='18' height='18' xmlns='http://www.w3.org/2000/svg'%3E%3Crect x='0' y='0' width='2' height='2' fill='rgba(0, 140, 47, 0.4)' /%3E%3C/svg%3E");
}

.btn {
  position: relative;
  border: none;
  outline: none;
  z-index: 0;
  border-radius: 999px;
}

.btn::after {
  content: "";
  z-index: -1;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(-45deg, #00ff88, #00ff95, #1eff62);
  border-radius: 999px;
}

.btn::before {
  content: "";
  background: linear-gradient(-45deg, #fff, #00ff66, #00ff73, #1effda, #fff);
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 200%;
  border-radius: 999px;
  z-index: -1;
  width: calc(100% + 5px);
  height: calc(100% + 5px);
  filter: blur(8px);
  opacity: 0.5;
  transition: opacity .3s ease-in-out;
  animation: glowing 30s linear infinite;
}

.btn:hover:before {
  opacity: 1;
}

.btn:active {
  scale: 0.98;
}

@keyframes glowing {
  0% { background-position: 0 0; }
  50% { background-position: 400% 0; }
  100% { background-position: 0 0; }
}

.add-habit-circle {
  color: rgb(255 255 255);
}

.add-habit-box:hover .add-habit-circle {
  background-color: transparent;
}

.rotate-360 {
  animation: rotate-360 infinite 7s linear;
  -moz-animation: rotate-360 infinite 7s linear;
  -webkit-animation: rotate-360 infinite 7s linear;
  -o-animation: rotate-360 infinite 7s linear;
}

@keyframes rotate-360 {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.rotate-circle {
  animation: rotate-circle infinite 70s linear;
  -moz-animation: rotate-circle infinite 70s linear;
  -webkit-animation: rotate-circle infinite 70s linear;
  -o-animation: rotate-circle infinite 70s linear;
}

@keyframes rotate-circle {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}